In [274]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [275]:

# No.1

# create a function to load all the JSON files inside a folder and normalize them then append the files into a data_list
def load_and_normalize(folder_path):
    data_list = []

    # loop into the folder, scanning all the files inside the folder
    for filename in os.listdir(folder_path):
        file_path = os.path.join(folder_path, filename)
        with open(file_path,'r') as f:
            data = json.load(f)
            data_list.append(data)
    # normalize the datas inside data_list and update the data_list directly
    data_list = pd.json_normalize(data_list)
    # sort the datas inside data_list ny id and ts(timestamp)
    data_list.sort_values(by=['id','ts'])
    return data_list

In [ ]:
df_accounts = load_and_normalize("./data/accounts")

df_accounts["account_id"] = df_accounts["data.account_id"]
df_accounts["name"] = df_accounts["data.name"]
df_accounts["address"] = df_accounts["set.address"].combine_first(df_accounts["data.address"])
df_accounts["phone_number"] = df_accounts["set.phone_number"].combine_first(df_accounts["data.phone_number"])
df_accounts["email"] = df_accounts["set.email"].combine_first(df_accounts["data.email"])
df_accounts["savings_account_id"] = df_accounts["set.savings_account_id"]
df_accounts["card_id"] = df_accounts["set.card_id"]
cols = ["id","account_id","name","address","phone_number","email","savings_account_id","card_id"]

df_accounts = df_accounts[cols]
df_accounts = df_accounts.groupby("id").ffill()
print(f"\n{'='*41} - ACCOUNTS - {'='*41}")
print(df_accounts.to_string())

========================================= - ACCOUNTS - =========================================
  account_id     name   address phone_number                    email savings_account_id card_id
0         a1  Anthony  New York     12345678     anthony@somebank.com                NaN     NaN
1         a1  Anthony  New York     87654321     anthony@somebank.com                NaN     NaN
2         a1  Anthony  New York     87654321     anthony@somebank.com                sa1     NaN
3         a1  Anthony   Jakarta     87654321  anthony@anotherbank.com                sa1     NaN
4         a1  Anthony   Jakarta     87654321  anthony@anotherbank.com                sa1      c1
5         a1  Anthony   Jakarta     87654321  anthony@anotherbank.com                sa1
6         a1  Anthony   Jakarta     87654321  anthony@anotherbank.com                sa1      c2

In [ ]:
df_cards = load_and_normalize("./data/cards")
df_cards["card_id"] = df_cards["data.card_id"]
df_cards["card_number"] = df_cards["data.card_number"]
df_cards["status"] = df_cards["set.credit_used"].combine_first(df_cards["data.credit_used"])
df_cards["monthly_limit"] = df_cards["data.monthly_limit"]
df_cards["status"] = df_cards["set.status"].combine_first(df_cards["data.status"])
cols = ["id","card_id","card_number","status","monthly_limit","status"]

df_cards = df_cards[cols]
df_cards = df_cards.groupby("id").ffill()
print(f"\n{'='*21} - CARDS - {'='*22}")
print(df_cards.to_string())

===================== - CARDS - ======================
  card_id card_number   status  monthly_limit   status
0      c1    11112222  PENDING        30000.0  PENDING
1      c1    11112222   ACTIVE        30000.0   ACTIVE
2      c1    11112222   ACTIVE        30000.0   ACTIVE
3      c1    11112222   ACTIVE        30000.0   ACTIVE
4      c1    11112222   ACTIVE        30000.0   ACTIVE
5      c1    11112222   CLOSED        30000.0   CLOSED
6      c2    12123434  PENDING        70000.0  PENDING
7      c2    12123434   ACTIVE        70000.0   ACTIVE
8      c2    12123434   ACTIVE        70000.0   ACTIVE

In [ ]:
df_saving_accounts = load_and_normalize("./data/savings_accounts")
df_saving_accounts["savings_account_id"] = df_saving_accounts["data.savings_account_id"]
df_saving_accounts["balance"] = df_saving_accounts["set.balance"].combine_first(df_saving_accounts["data.balance"])
df_saving_accounts["interest_rate_percent"] = df_saving_accounts["set.interest_rate_percent"].combine_first(df_saving_accounts["data.interest_rate_percent"])
df_saving_accounts["status"] = df_saving_accounts["data.status"]
cols = ["id","savings_account_id","balance","interest_rate_percent","status"]

df_saving_accounts = df_saving_accounts[cols]
df_saving_accounts = df_saving_accounts.groupby("id").ffill()
print(f"\n{'='*19} - SAVINGS ACCOUNTS - {'='*19}")
print(df_saving_accounts.to_string())

=================== - SAVINGS ACCOUNTS - ===================
  savings_account_id  balance  interest_rate_percent  status
0                sa1      0.0                    1.5  ACTIVE
1                sa1  15000.0                    1.5  ACTIVE
2                sa1  15000.0                    3.0  ACTIVE
3                sa1  40000.0                    3.0  ACTIVE
4                sa1  21000.0                    3.0  ACTIVE
5                sa1  21000.0                    1.5  ACTIVE
6                sa1  21000.0                    4.0  ACTIVE
7                sa1  33000.0                    4.0  ACTIVE